@{
    ViewData["Title"] = "Detail";
}

@model CourseViewModel

<div class="row">
    <div class="col-md-9">

        <div class="card">
            <img src="@Model.StockPictureUrl" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text"> @Model.Description</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fiyat : @Model.Price TL</h4>
                <div>
                    <a href="#" class="btn btn-primary btn-block">Sepete ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>